md-subheader.md-no-sticky New Mail
md-divider
  md-content.new-email
    md-input-container.md-icon-float
      label User
      md-icon.name(md-svg-src='account')
      input
    md-input-container.md-icon-float
      label Subject
      md-icon.name(md-svg-src='account')
      input
    md-input-container
      label Message
      textarea
    md-button.btn-green Send
    