md-subheader.md-no-sticky Outbox
md-divider
  md-list
    md-list-item.md-3-line
      md-icon(md-svg-icon='message-text')
      //img.md-avatar(ng-src='{{item.face}}?{{$index}}')
      .md-list-item-text(layout='column')
        h3 UserName
        h4 Subject
    md-divider
    md-list-item.md-3-line
      md-icon(md-svg-icon='message-text')
      //img.md-avatar(ng-src='{{item.face}}?{{$index}}')
      .md-list-item-text(layout='column')
        h3 UserName
        h4 Subject
    md-divider
    