div
  md-toolbar
    .md-toolbar-tools
      img.user-img(src="images/dashboard/cognizantLogo.png")
      h2 Username
      span(flex)
      a.menu-element(ng-click='dashboard.mail()')
        md-icon(md-svg-icon='email')      
  div(layout='row' layout-sm="column")
    div(flex-gt-sm='20')
      md-list
        a.menu-element(ui-sref="main.exams")
          md-list-item
            md-icon(md-svg-icon='file-multiple')
            p  Exams
        md-divider
        a.menu-element
          md-list-item
            md-icon(md-svg-icon='chart-line')
            p  Stats
        md-divider
        md-divider
        md-divider
        a.menu-element
          md-list-item
            md-icon(md-svg-icon='account-convert')
            p  Profile
        md-divider
        a.menu-element
          md-list-item
            md-icon(md-svg-icon='account-off')
            p  Logout
        md-divider
    div(flex-gt-sm="80")
      div(flex)
        ui-view
    // Inbox
    md-sidenav.md-sidenav-right.md-whiteframe-4dp(md-component-id='right')
      md-toolbar.md-theme-light
        h1.md-toolbar-tools INBOX