$corporativeGreen: #6DB33F;
$corporativeBlue: #50B3CF;

// Header
.user-img{
  margin: auto;
  position: relative;
  height: 100%;
  width: auto;
  margin-right: 2%
}

// Menu
.menu-element{
  text-decoration: none;
  color: grey
}

// Mail
md-sidenav, 
md-sidenav.md-locked-open, 
md-sidenav.md-closed.md-locked-open-add-active {
    min-width: 30% !important;
    max-width: 30% !important;
}
.iconActive:hover{
  color: $corporativeGreen
}
